.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.show-more-btn {
    margin: 20px 0;
    padding: 10px 30px;
    font-size: 1.6rem;
}

.general-info {
    width: 1320px;
    padding: 30px;
    margin: 30px 0 30px 0;
    background-color: aquamarine;
    border-radius: 20px;
}

.slideshow {
}

.slide-img {
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: contain;
    transform: translateX(55px);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);
}

.infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.icon {
    width: 50px;
    position: absolute;
}

.kittyfly {
    top: 30%;
    left: 20%;
}

.cloud {
    top: 30%;
    right: 20%;
}

.popsicle {
    top: 50%;
    right: 0;
}

.stars {
    top: 50%;
    left: 0;
}

.panda {
    top: 50%;
}

.title {
    font-size: 3rem;
    text-transform: uppercase;
}

.price {
    font-size: 2.5rem;
    color: red;
}
