.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.title-heading {
    position: absolute;
    top: 23%;
    right: 34%;
    color: #fff;
    font-size: 2.8rem;
}
