.wrapper {
    width: 100%;
    height: 138px;
    position: fixed;
    top: 0px;
    transform: translateZ(0);
    z-index: 100;
}

.wrapper-header {
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d5d9c;
}

.wrapper-nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #407ec9;
}

.inner-header,
.inner-nav {
    height: 100%;
    width: 1320px;
    display: flex;
    align-items: center;
}

.inner-header {
    justify-content: space-between;
}

.inner-nav {
    justify-content: center;
}

.logo-link {
    display: flex;
}

.logo-img {
    width: 180px;
}

.cart-link,
.login-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
}

.cart-link {
    margin-right: 30px;
    &:hover {
        opacity: 0.8;
    }
}

.login-link {
    margin-right: 40px;
}

.cart-img,
.login-img {
    margin-right: 10px;
}

.btn-container {
    display: flex;
    align-items: center;
}

.profile-link {
    display: flex;
    font-size: 1.6rem;
    color: #fff;
    align-items: center;
    &:hover {
        opacity: 0.8;
    }
}

.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-name {
    margin-left: 8px;
    font-weight: 500;
}

.auth-container {
    display: flex;
}

.logout-btn {
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    margin-left: 10px;
    &:hover {
        opacity: 0.8;
    }
}
